<configuration>
    <property name="tools4ai.log" value="${tools4ai.log:-WARN}"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.t4a" level="${tools4ai.log}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>